<div>
  <% unless question.choices.detect{|e| e.new_record?} %>
    <%= add_choice_link(question) %>
  <% end %>
  <div class="pull-right">
    <div class="btn-group">
      <button type="button" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown">
        <span class="caret"></span>
      </button>
      <ul class="dropdown-menu">
        <li><%= link_to "Move to Top", move_question_path(question, dir: 'first'), method: 'put' %></li>
        <li><%= link_to "Move Up", move_question_path(question, dir: 'up'), method: 'put' %></li>
        <li><%= link_to "Move Down", move_question_path(question, dir: 'down'), method: 'put' %></li>
        <li><%= link_to "Move to Bottom", move_question_path(question, dir: 'last'), method: 'put' %></li>
        <li class="divider"></li>
        <li><%= link_to "Remove", [question.survey, question], method: 'delete', data: {confirm: "Sure to remove this question?"} %></li>
      </ul>
    </div>
  </div>
</div>
