<div class="survey-container">
  <h3><%= bc_heading_question(@question) %></h3>
  <div class="question">
    <%= simple_form_for [@survey, @question] do |f| %>
      <%= f.input :title %>
      <%= f.input :kind, prompt: nil %>
      <%= f.submit nil, class: 'btn btn-default', data: {disable_with: 'Saving...'} %>
    <% end %>
  </div>
</div>
