<h1><small>Survey:</small> <%= link_to @survey.title, @survey %></h1>
<div class="question">
  <h3>New question</h3>
  <%= simple_form_for [@survey, @question] do |f| %>
    <%= f.input :title %>
    <%= f.input :kind, prompt: 'Select a question type' %>
    <%= f.submit nil, class: 'btn btn-default', data: {disable_with: 'Saving...'} %>
  <% end %>
</div>
