<div class="choice-menu">
  <div class="btn-group btn-group-xs visible-on-hover">
    <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown">
      <span class="caret"></span>
    </button>
    <ul class="dropdown-menu">
      <li><%= link_to "Move to Top", move_choice_path(choice, dir: 'first'), method: 'put' %></li>
      <li><%= link_to "Move Up", move_choice_path(choice, dir: 'up'), method: 'put' %></li>
      <li><%= link_to "Move Down", move_choice_path(choice, dir: 'down'), method: 'put' %></li>
      <li><%= link_to "Move to Bottom", move_choice_path(choice, dir: 'last'), method: 'put' %></li>
      <li class="divider"></li>
      <li>
      <% if choice.allow_text? %>
        <%= link_to "Remove text input", toggle_allow_text_choice_path(choice), method: 'put' %>
      <% else %>
        <%= link_to "Allow text input", toggle_allow_text_choice_path(choice), method: 'put' %>
      <% end %>
      </li>
      <li class="divider"></li>
      <li><%= link_to "Remove", [choice.question, choice], method: 'delete', data: {confirm: "Sure to remove this choice?"} %></li>
    </ul>
  </div>
</div>
