<script type="text/javascript" charset="utf-8">window.responseId = <%= @response.id %></script>

<div ng-controller="ResponseCtrl" autosave="5000">
  <div class="row">
    <div class="col-sm-6">
      <div response="response">
        <div class='survey-title'><a class='label label-default' href="<%= survey_path(@response.survey) %>">Survey</a> {{response.survey.title}}</div>
        <div class="questions">
          <div class="question" ng-repeat='question in response.questions' ng-controller='QuestionCtrl'>
            <div class='question-title'><span class='label label-default'>{{question.kind}}</span> {{question.title}}</div>
            <div class='question-choices'>
              <div ng-switch on="question.kind">
                <div ng-switch-when="radio">
                  <div ng-repeat='choice in question.choices' class="radio" ng-controller="AnswerCtrl">
                    <label has-answer>
                      <input value="{{choice.text}}" type='radio' name='question-{{question.id}}-radio'
                             ng-model='choice.currentAnswer.value' ng-change='clearOtherChoices(question, choice, choice.currentAnswer)'/>
                             {{choice.text}}
                    </label>
                  </div>
                </div>
                <div ng-switch-when="checkbox">
                  <div ng-repeat='choice in question.choices' class="checkbox" ng-controller="AnswerCtrl">
                    <label has-answer>
                      <input type="checkbox" value="{{choice.text}}"
                      ng-model="choice.currentAnswer.value" ng-true-value="{{choice.text}}" ng-false-value="" />
                      {{choice.text}}
                    </label>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-6" ng-controller='ResultsCtrl'>
      <div class="well">{{response.answer_bucket}}</div>
      <h3>Results</h3>
      <button class='btn btn-sm btn-default' ng-click="reloadAnswers(<%= @response.id %>)">Reload</button>
      <%= link_to "Export To CSV", survey_path(@response.survey, format: :csv), class: 'btn btn-default btn-sm' %>
      <%= link_to "View CSV as Text", survey_path(@response.survey, format: :txt), class: 'btn btn-default btn-sm' %>
      <div class="well">{{answers}}</div>
    </div>
  </div>
</div>
