<div class="survey-container">
  <h3>Surveys</h3>
  <ul>
    <% @surveys.each do |survey| %>
      <li>
      <%= survey_link(survey) %>
      <span class="badge"><%= pluralize survey.questions.size, 'question' %></span>
      <span class="badge"><%= pluralize survey.questions.size, 'responses' %></span>
      </li>
    <% end %>
  </ul>
  <%= link_to "Create A Survey", new_survey_path, class: 'btn btn-default btn-lg' %>
  <p></p>
  <%= render 'surveys/passcode_form' %>
</div>
