<h1 class="survey-title text-center">
  <%= @survey.title %>
  <small>
    <div class="badge badge-info"><%= pluralize @survey.responses.size, 'response' %></div>
  </small>
</h1>

<div class="text-center">
  <div>
    <%= link_to "Edit Title", edit_survey_path(@survey, passcode: @survey.passcode), class: 'btn btn-default btn-xs' %>
    <%= link_to 'Take', new_response_path(survey_id: @survey.id), class: 'btn btn-default btn-xs', target: '_blank' %>
    <%= link_to "Export To CSV", survey_path(@survey, format: :csv), class: 'btn btn-default btn-xs' %>
    <%= link_to "View CSV as Text", survey_path(@survey, format: :txt), class: 'btn btn-default btn-xs' %>
  </div>
  <div class="input-group input-group-sm" style="width:440px;margin:20px auto 0">
    <span class="input-group-addon">Link to embed</span>
    <input type="text" class="form-control input-xs" value="<%= new_response_url(survey_id: @survey, embed: true) %>" style="font-size:.8em"/>
  </div>
</div>

<p></p>
<hr />
<div class="survey-container">
  <div class='survey-title'><%= @survey.title %></div>
  <div class="questions">
    <% @survey.questions.each_with_index do |question, i| %>
      <div class="question">
        <%= render "questions/kind/#{question.kind}", question: question %>
        <%= render "questions/common", question: question %>
      </div>
    <% end %>
  </div>
  <p></p>
  <div>
    <%= link_to "Add Question", new_survey_question_path(@survey), class: 'btn btn-default' %>
  </div>
</div>
