<h1>
  <%= @survey.title %>
  <small>
    <div class="badge badge-info"><%= pluralize @survey.responses.size, 'response' %></div>
  </small>
</h1>

<div class="row" style="padding-right:20px">
  <div class="col-xs-6">
    <%= link_to 'Take', new_response_path(survey_id: @survey.id), class: 'btn btn-default btn-sm' %>
    <%= link_to "Export To CSV", survey_path(@survey, format: :csv), class: 'btn btn-default btn-sm' %>
    <%= link_to "View CSV as Text", survey_path(@survey, format: :txt), class: 'btn btn-default btn-sm' %>
  </div>
  <div class="input-group col-xs-6 input-group-sm">
    <span class="input-group-addon">Link</span>
    <input type="text" class="form-control input-xs" value="<%= new_response_url(survey_id: @survey, embed: true) %>"/>
  </div>
</div>

<div class="questions">
  <% @survey.questions.each_with_index do |question, i| %>
    <div class="question">
      <%= render_question question %>
    </div>
  <% end %>
</div>

<p></p>
<div>
  <%= link_to "Add Question", new_survey_question_path(@survey), class: 'btn btn-default' %>
</div>
