<!DOCTYPE html>
<html>
<head>
  <title>Questick</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <% if content_for?(:head) %>
    <%= yield(:head) %>
  <% end %>
</head>
<body>
  <% if flash.present? %>
    <%- flash.each do |name, msg| -%>
      <div class="alert <%= flash_alert_class(name) %>">
        <%= msg %>
        <div class="close" data-dismiss="alert">&times;</div>
      </div>
    <% end %>
  <% end %>

  <div class="navbar">
    <div class="container">
      <div class="navbar-header">
        <h1>
          <a href="/" class="logo">
            Questick
          </a>
          <br>
          <small>
            Easily embed a survey on your site
          </small>
        </h1>
      </div>
    </div>
  </div>
  <div class="container top-container">
    <%= yield %>
  </div>
  <% if content_for?(:javascripts) %>
    <%= yield(:javascripts) %>
  <% end %>
</body>
</html>
